@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@import "tailwindcss";
:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  --color-background: #f6f6f6;
  --color-background-alt: #111827;
  --color-shapes: #704645;
  --color-surface: #eaeaea;
  --color-accent: #3fbcff;
  --color-shapes: #668054;
  --color-blue-shade: #0072be;
  --color-text-dark: rgb(19, 19, 19);
  --color-text-light: white;
  --color-shadow-light:rgba(0, 0, 0, 0.882);
  --border-radius: 0.8rem;
  --gradient-blue: linear-gradient(
    to bottom,
    var(--color-accent),
    var(--color-blue-shade)
  );
  --box-shadow:  0 3px 10px  rgba(0, 0, 0, 0.342),
    3px 0px 10px  rgba(0, 0, 0, 0.347);
  --drop-shadow: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.582));
  --font-size-title: 3.5rem;
  --font-size-base: 1rem;
  --font-size-heading: 2rem;
  --font-size-sub-heading: 1.1rem;
  --font-size-small: 0.8rem;
  --font-size-extra-small:0.5rem;
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
    --font-size-title: 2rem;
  }
}

h1 {
  font-family: "Suez One", serif;
  font-weight: 600;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.2rem;
  background-image: var(--gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(2px 1px 1px var(--color-shadow-light));
}

h2 {
  font-size: var(--font-size-heading);
  font-weight: 600;
  letter-spacing: 2px;
}
h3 {
  font-size: var(--font-size-base);
}

h4 {
  font-size: var(--font-size-base);
}

.logo{
  font-size: var(--font-size-heading);
  font-family: Suez one, sans-serif;
  font-weight: 500;
}

[dark-theme="dark"] {
  --color-background: #0f172a;
  --color-background-alt: #111827;
  --color-shapes: #6f7045;
  --color-surface: #2a2d55;
  --color-text-dark: rgb(255, 255, 255);
  --color-text-light: rgb(0, 0, 0);
  --color-shadow-light:rgba(249, 249, 249, 0.592);
}